.navbar{
    background-color: rgb(30, 30, 30);
    color: rgb(250, 250, 250);
}
.navbar-brand{
    color: rgb(250, 250, 250);
}
.navbar-toggler{
    background-color: rgb(250, 250, 250);
    border: .1rem solid rgb(150, 150, 150);
}
.link {
    color: rgb(250, 250, 250);
    text-decoration: none;
    margin-top: 5px;
}
.title{
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}
.card{
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(30, 30, 30);
    display: flex ;
    border: none;
    width: 15rem;
    align-items: center;
}
.card-title{
    height: 2rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.card-cat{
    font-size: 0.7rem;
    margin: 0.2rem;
}
.categoria{
    height: 100%;
    width: 100%;
    display: flex;
    align-content: flex-end;
}
.btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.1rem;
    font-size: 0.7rem;
}
#formulario{
    display: flex;
    justify-content: center;
    gap: .2rem;
}
.input, .submit{
    height: 2rem;
    border-radius: 0.3rem;
    border: 0.1rem solid black;
}
.submit{
    background-color: black;
    color: white;
}